# Matrix Operation

In [ ]:
import numpy as np

# Creating the array
matrix = np.array([
    [-1, 1, 1],
    [2, 2, 6],
    [1, 2,5]
])

# Calculating the determinant
determinant = np.linalg.det(matrix)

print("The determinant of the matrix is:", determinant)

The determinant of the matrix is: 0.0

In [ ]:
import numpy as np

# Creating the array
matrix = np.array([
    [3, 2],
    [5, 8]
])

# Calculating the covariance matrix
cov_matrix = np.cov(matrix, rowvar=False)

print("The covariance matrix is:\n", cov_matrix)

The covariance matrix is:
 [[ 2.  6.]
 [ 6. 18.]]

In [ ]:
import numpy as np

# Creating the array
matrix1 = np.array([
    [1,0, 1],
    [0, 1, 0],
    [1, 1,1]
])

det1= np.linalg.det(matrix1)


# Creating the array
matrix2 = np.array([
    [2,8,7],
    [4, 3, 9],
    [1,9,5]
])

det2= np.linalg.det(matrix2)

print("The determinant of the matrix1 is:", det1)
print("The determinant of the matrix2 is:", det2)

The determinant of the matrix1 is: 0.0
The determinant of the matrix2 is: 11.00000000000001

In [ ]:
matrix3 = np.array([
    [-20,-1,0],
    [20, 1, 0],
])

In [ ]:
import numpy as np

# Define the matrix
matrix3 = np.array([
    [-20, -1, 0],
    [20, 1, 0],
])

# Calculate the transpose
transpose_matrix3 = matrix3.T

print("Original Matrix:")
print(matrix3)

print("\nTranspose of the Matrix:")
print(transpose_matrix3)

Original Matrix:
[[-20  -1   0]
 [ 20   1   0]]

Transpose of the Matrix:
[[-20  20]
 [ -1   1]
 [  0   0]]

In [ ]:
import numpy as np

# Define matrix3
matrix3 = np.array([
    [-20, -1, 0],
    [20, 1, 0],
])

# Define its transpose
matrix_transpose = np.array([
    [-20, 20],
    [-1, 1],
    [0, 0],
])

# Perform matrix multiplication
result = np.dot(matrix3, matrix_transpose)  # or matrix3 @ matrix_transpose

print("Matrix3:")
print(matrix3)

print("\nMatrix Transpose:")
print(matrix_transpose)

print("\nResult of Matrix Multiplication:")
print(result)

Matrix3:
[[-20  -1   0]
 [ 20   1   0]]

Matrix Transpose:
[[-20  20]
 [ -1   1]
 [  0   0]]

Result of Matrix Multiplication:
[[ 401 -401]
 [-401  401]]

In [ ]:
# Creating the array
mat1 = np.array([
    [2,8,7],
    [4, 3, 9],
    [1,9,5]
])

# Creating the array
mat2 = np.array([
    [1,2,3],
    [4, 5,6],
    [7,8,9]
])

#matrix multiplication
mat3=mat1@mat2
print(mat3)

[[ 83 100 117]
 [ 79  95 111]
 [ 72  87 102]]

In [ ]:
# Creating the array
mat1 = np.array([
    [2,8,7],
    [4, 3, 9],
    [1,9,5]
])

# Creating the array
mat2 = np.array([
    [1,2,3],
    [4, 5,6],
    [7,8,9]
])

#matrix multiplication
matdot=np.dot(mat1,mat2)
print(matdot)

[[ 83 100 117]
 [ 79  95 111]
 [ 72  87 102]]

# Reshape

In [ ]:
# Reshape refers to the process of changing the dimensions or structure of an array or dataset while maintaining its data elements
#numpy.reshape(array, newshape)

#array: The input NumPy array you want to reshap
#newshape: A tuple specifying the desired shape (e.g., (rows, columns))

'''

numpyarray.reshape(rows,cols)

You can use -1 to let Python (NumPy) automatically calculate one of the dimensions.

'''

In [ ]:
# Tuple data type

'''

A tuple is a built-in data type in Python used to store a collection of items
- Ordered (items have a fixed order),
- Immutable (you can’t change items after the tuple is created),
- Can contain different data types (int, string, float, etc.).

example: person = ("Alice", 30, "Engineer")
print(person[0])  # Output: Alice

'''

In [ ]:
#1D array
arr1=np.array([1, 2, 3, 4, 5, 6])

print(f' array dimension is {arr1.ndim}')  # Prints the number of dimensions
print(arr1.shape)

#Note: A tuple is an immutable and ordered collection of items in Python.
# It is similar to a list, but once a tuple is created, its elements cannot be changed, added, or removed.

#For a 1D array, the shape will be (n,), where n is the number of elements in the array

 array dimension is 1
(6,)

In [ ]:
#2D array
arr2=np.array([
              [1, 2, 3, 4, 5, 6]
              ])
print(arr2.ndim)  # Prints the number of dimensions
print(arr2.shape)

#The .shape attribute  return (1, 6), meaning it has:
#1 row
#6 columns

2
(1, 6)

In [ ]:
import numpy as np

# Original 1D array
arr = np.array([1, 2, 3, 4, 5, 6])
print(f'1D array is {arr}')

# Reshaping to 2D (2 rows, 3 columns)
reshaped = arr.reshape(2, 3)
print(reshaped)

1D array is [1 2 3 4 5 6]
[[1 2 3]
 [4 5 6]]

In [ ]:
# Reshaping to 3D (2 blocks, 1 row, 3 columns)
reshaped = arr.reshape(2, 1, 3)
print(reshaped)

[[[1 2 3]]

 [[4 5 6]]]

In [ ]:
# Flattening back to 1D
#flattened = reshaped.reshape(-1)  # -1 automatically calculates the required size
#this can also be written as
flatten2=np.reshape(reshaped,-1)
print(flatten2)

[1 2 3 4 5 6]

In [ ]:
#The -1 in the context of the reshape function in NumPy is a placeholder that tells NumPy to automatically calculate the dimension that is missing,
# based on the total number of elements in the array.
# It is a convenient way to reshape arrays without explicitly calculating the size of one dimension.

#Suppose you have an array with 12 elements. If you want to reshape it to a shape (3, -1), NumPy will automatically determine the missing dimension (-1) as 4, because
#3 × 4 = 12

In [ ]:
import numpy as np

arr = np.array([1, 2, 3, 4, 5, 6])

# Reshape with one unknown dimension (-1)
reshaped = arr.reshape(-1, 2)  # Let NumPy calculate rows
print(reshaped)

#The original array has 6 elements.
#You specified 2 columns.
#NumPy calculates the number of rows as
#6 ÷ 2 = 3
#so -1 is actually replaced by 3

[[1 2]
 [3 4]
 [5 6]]

In [ ]:
import numpy as np

arr = np.array([1, 2, 3, 4, 5, 6])

# Reshape with one unknown dimension (-1)
reshaped = arr.reshape(2, -1)  # Let NumPy calculate rows
print(reshaped)

#The original array has 6 elements.
#You specified 2 rows now
#NumPy calculates the number of col as
#6 ÷ 2 = 3
#so -1 is actually replaced by 3

[[1 2 3]
 [4 5 6]]

# Central Tendency - Mean

In [ ]:
import numpy as np

def center_data(Y):
    """
    Center your original data
    Args:
         Y (ndarray): input data. Shape (n_observations x n_pixels)
    Outputs:
        X (ndarray): centered data
    """
    # Compute the column-wise mean
    mean_vector = np.mean(Y, axis=0)
    print(f' mean_vector is {mean_vector}')
    # Subtract the mean vector from the original data
    X = Y - mean_vector

    return X

In [ ]:
Y = np.array([[1, 2, 3],
              [4, 5, 6],
              [7, 8, 9]])
#Take mean of each column e.g: (1+4+7)/3
mean_vector = np.mean(Y, axis=0)
print(mean_vector)

[4. 5. 6.]

In [ ]:
mean_vector = mean_vector.reshape(1, -1)  # Row vector here - says cols will calculated during runtime
print(mean_vector)
print(f'dimension of mean_vector is {mean_vector.ndim} -D')
#row=1, col=3

[[4. 5. 6.]]
dimension of mean_vector is 2 -D

In [ ]:
Y = np.array([[1, 2, 3],
              [4, 5, 6],
              [7, 8, 9]])
X = center_data(Y)
print(X)

 mean_vector is [4. 5. 6.]
[[-3. -3. -3.]
 [ 0.  0.  0.]
 [ 3.  3.  3.]]

In [ ]:
import numpy as np

# Original array (1D)
arr = np.array([1, 2, 3, 4, 5, 6])

# Reshape into a 2D array with 2 rows and 3 columns
reshaped = np.reshape(arr, (2, 3))

print("Original array:", arr)       # [1 2 3 4 5 6]
print("Reshaped array:\n", reshaped)

Sarr=arr.reshape(1,-1)
Tarr=Sarr.T
print(f'Transposed {Tarr}')

reshapedArr=np.reshape(arr, (6, 1))
print(f'reshapedArr {reshapedArr}')

Original array: [1 2 3 4 5 6]
Reshaped array:
 [[1 2 3]
 [4 5 6]]
Transposed [[1]
 [2]
 [3]
 [4]
 [5]
 [6]]
reshapedArr [[1]
 [2]
 [3]
 [4]
 [5]
 [6]]

In [ ]:
import numpy as np

arr = np.array([1, 2, 3, 4, 5, 6])  # Shape: (6,)
reshaped = arr.reshape(1, -1)       # Shape: (1, 6)

print("Original shape:", arr.shape)        # Output: (6,)
print("dimension is ", arr.ndim)
print("Reshaped shape:", reshaped.shape)   # Output: (1, 6)
print("dimension is ", reshaped.ndim)
print("Reshaped array:\n", reshaped)

Original shape: (6,)
dimension is  1
Reshaped shape: (1, 6)
dimension is  2
Reshaped array:
 [[1 2 3 4 5 6]]

In [ ]:
# Creating the array
arr = np.array([
                [-1, 1, 1,4],
                [2, 2, 6,2],
                [1, 2,5,5]
              ])
print("Original shape:", arr.shape)
print("dimension:", arr.ndim)

Original shape: (3, 4)
dimension: 2

# Slicing

In [ ]:
#Matrix slicing in NumPy allows you to extract specific rows, columns, or subsets of a 2D array

In [ ]:
import numpy as np

matrix = np.array([
                  [1, 2, 3],
                  [4, 5, 6],
                  [7, 8, 9]
                ])
print(f'matrix dimension is {matrix.ndim}')
print(f'matrix shape is {matrix.shape}')
print(matrix)

matrix dimension is 2
matrix shape is (3, 3)
[[1 2 3]
 [4 5 6]
 [7 8 9]]

![slicing.PNG]()

In [ ]:
row = matrix[1, :]  # Select all columns from the second row
print(row)  # Output: [4 5 6]

[4 5 6]

In [ ]:
column = matrix[:, 0]  # Select all rows from the first column
print(column)  # Output: [1 4 7]

#reshaping as I do not know the rows but I like to make into 1 col
col=column.reshape(-1,1)
print(col)

[1 4 7]
[[1]
 [4]
 [7]]

In [ ]:
submatrix = matrix[0:2, 0:2]  # Rows 0-1 and Columns 0-1
print(submatrix)

[[1 2]
 [4 5]]

In [ ]:
element = matrix[2, 1]  # Row index 2, Column index 1
print(element)  # Output: 8

8

In [ ]:
#matrix[row,col]
every_other_row = matrix[::2, :]  # Rows 0, 2 (step of 2)
print(every_other_row)

[[1 2 3]
 [7 8 9]]

In [ ]:
#row -> [0,2]
#col -> all
specific_rows = matrix[[0, 2], :]  # Rows 0 and 2
print(specific_rows)

[[1 2 3]
 [7 8 9]]

In [ ]:
import numpy as np

# Example matrix of eigenvectors (2D array)
eigenvecs = np.array([[1, 0],
                      [0, 1]])

# Extract the first column (the first eigenvector)
first_eigenvector = eigenvecs[:, 0]

# Extract the 2nd column
second_eigenvector = eigenvecs[:, 1]

print("Eigenvectors matrix:\n", eigenvecs)
print("First eigenvector:", first_eigenvector)

print("second_eigenvector", second_eigenvector)

Eigenvectors matrix:
 [[1 0]
 [0 1]]
First eigenvector: [1 0]
second_eigenvector [0 1]

In [ ]:
import numpy as np

# np.newaxis is a special indexing tool in NumPy that allows you to add a new dimension (or axis) to an existing array.
# It is used to reshape arrays without modifying the data

arr = np.array([1, 2, 3])  # Shape: (3,)

vector=arr[:]
print(vector)

# Add a new axis to make it a row vector
row_vector = arr[np.newaxis, :]  # Shape: (1, 3)
print(f' row_vector  is {row_vector}')

# Add a new axis to make it a column vector
column_vector = arr[:, np.newaxis]  # Shape: (3, 1)
print(f' col_vector  is {column_vector}')

print("Original array shape:", arr.shape)       # Output: (3,)
print("Row vector shape:", row_vector.shape)    # Output: (1, 3)
print("Column vector shape:", column_vector.shape)  # Output: (3, 1)

[1 2 3]
 row_vector  is [[1 2 3]]
 col_vector  is [[1]
 [2]
 [3]]
Original array shape: (3,)
Row vector shape: (1, 3)
Column vector shape: (3, 1)

In [ ]:
eigenvecs = np.array([
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
])

#eigenvecs[row, col]
#row= : means all rows
#col = :2 means from col = 0 to 2 (first 2 cols)
result = eigenvecs[:, :2]
#result = eigenvecs[:, 0:2]
print(result)

[[1 2]
 [4 5]
 [7 8]]

In [ ]:
eigenvecs = np.array([
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
])

#eigenvecs[row, col]
#row= : means all rows
#col = 2 means  2nd col
result = eigenvecs[:, 2]
print(result)
#Note: the dimension is distorted

[3 6 9]

In [ ]:
eigenvecs = np.array([
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
])

#eigenvecs[row, col]
#row= : means all rows
#col = 2: means  from col=1 to rest cols
result = eigenvecs[:, 1:]
print(result)
#Note: the dimension is distorted

[[2 3]
 [5 6]
 [8 9]]